main {
    padding-top: 3em;
    font-size: 1.3vw;
	text-align: center;
}

main input {
    width: 50%
}

#edit {
	margin-top: 15%;
}

#cockpitName {
	display: inline-block;
	float: left;
	text-align: right;
	width: 49%;
}

#cockpitShortcut {
	display: inline-block;
	float: right;
	text-align: left;
	width: 49%;
}
